html {
	background-color: #CC411E;

}

a {
	text-decoration: none;
}

body {
	font-family: Courier, Arial, Helvetica, sans-serif;
}

#title {
	border: solid 0.15em black;
	background-color: #454346;
	width: 67%;
	height: 8em;
	margin: 0;
	margin-left: 17%;
	text-align: center;
}

#title img {
	width: 100%;
	height: 100%;
}

#links {
	border: solid 2px black;
	background-color: #CD6D4A;
	width: 67%;
	height: 3em;
	margin: 0;
	margin-left: 17%;
	text-align: center;
}

#links ul {
	padding-top: 1em;
}

#links li {
	display: inline;
	text-align: center;
	margin: 0.5em;
	width: 2em;
}

#links a {
	color:#000000;
}

#links a:hover {
	color: white;
}

#content {
	background-color: #8BA8B1;
	border: solid 2px black;
	width: 67%;
	margin-left: 17%;
}

#content_title {
	text-align: center;
	margin-top: 0.5em;
}

#photo_div {
	width: 83%;
	margin:auto;
}

.photo {
	width: 16%;
	height: 8em;
	margin: 0.3%;
}

#prompter {
	text-align: center;
	margin: 4em;
}


#footer {
	border: solid 0.15em black;
	background-color: #454346;
	width: 67%;
	height: 8em;
	padding-top: 4em;
	margin: 0;
	margin-left: 17%;
	text-align: center;
	color: #8BA8B1;
}

