html {
	background-color: #CC411E;
}

a {
	text-decoration: none;
}

body {
	font-family: Courier, Arial, Helvetica, sans-serif;
}

#title {
	border: solid 0.15em black;
	background-color: #454346;
	width: 67%;
	height: 8em;
	margin: 0;
	margin-left: 17%;
	text-align: center;
}

#title img {
	width: 100%;
	height: 100%;
}

#links {
	border: solid 0.15em black;
	background-color: #CD6D4A;
	width: 67%;
	height: 3em;
	margin: 0;
	margin-left: 17%;
	text-align: center;	
}

#links ul {
	padding-top: 1em;
}

#links li {
	display: inline;
	text-align: center;
	margin: 0.5em;
	width: 2em;
}

#links a {
	color:#000000;
}

#links a:hover {
	color: white;
}

#content {
	background-color: #8BA8B1;
	border: solid 0.15em black;
	width: 67%;
	margin-left: 17%;
}

#content_title {
	text-align: center;
	margin-top: 0.5em;
}

#content p {
	text-align: center;
	margin-bottom: 1em;
	padding: 0 0.5em;
}

#Social_Media_Buttons {
	margin-left: 40%;
	margin-top: 4em;
	width: 12em;
}

#home_images {
	width: 100%;
	height: 25em;
	margin-bottom: 1em;
}

#home_images div {
	width:33.3%;
	height: 100%;
	float: left;
	position:relative;
}

#home_images div img {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

#footer {
	border: solid 0.15em black;
	background-color: #454346;
	width: 67%;
	height: 8em;
	padding-top: 4em;
	margin: 0;
	margin-left: 17%;
	text-align: center;
	color: #8BA8B1;
}



